[submodule "Programme/HTML5/getFitAgain_mitRestApi/getFitAgain"]
	path = Programme/HTML5/getFitAgain_mitRestApi/getFitAgain
	url = D:\\Diplomarbeit_GFA\\Programme\\HTML5\\getFitAgain_mitRestApi\\getFitAgain
[submodule "Programme/HTML5/App mit Fake-API/getFitAgain_Backup/getFitAgain"]
	path = Programme/HTML5/App mit Fake-API/getFitAgain_Backup/getFitAgain
	url = D:\\Diplomarbeit_GFA\\Programme\\HTML5\\App mit Fake-API\\getFitAgain_Backup\\getFitAgain
