page-detailview {
    .card .list .item {
        border-bottom: 1px solid black

    }
    .header{
        border-bottom: 2px solid black;
        font-size: 130%;
        font-weight: bold;
    }
    .desc{
        font-size: 80%;
        color: gray;
    }
   
}
